# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/components/Test.js
/src/components/TestTwo.js
/src/css/Test.js

/src/static/Showcase_1_big.jpg
/src/static/Showcase_2_big.jpg
/src/static/Showcase_3_small.jpg
/src/static/Showcase_11_small.jpg
/src/static/Showcase_12_small.jpg
/src/static/Showcase_13_small.jpg
/src/static/first-image.png