.features-container {
    position: relative;
    background-image: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 20%);
    z-index: 60;
    margin:auto;
}

:root {
    --white-color: white;
    --first-color: #0b1d26;
    --thirdh-color: #fbd784;
  }

  .home {
    background-color: #0b1d26;
    box-shadow: 28px 28px 80px 0 rgba(11, 29, 38, 0.4);
    max-width: 1920px;
}

.features {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.feature {
    display: flex;
    width: 100%;

    padding-right: 80px;
    padding-left: 80px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8rem;
}

.feature-info {
    display: flex;
    align-items: left;
    flex-direction:column;
    gap: 1rem;
}

.number-step-bg {
    font-weight: 700;
    font-size: 15rem;
    color: var(--white-color);
    opacity: 0.1;
}
  
#first-number-step {
    bottom: 16.5rem;
    left: -4.5rem;
    position: relative;
}
  
#second-number-step {
    bottom: 16.5rem;
    left: -4.5rem;
    position: relative;
}

.feature-subtitle {
    color: var(--thirdh-color);
    font-weight: 800;
    font-size: 1.125rem;
}


.feature-headline {
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.feature-body {
    color: var(--white-color);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;
}

.feature-info-footer a {
    text-decoration: none;
}

.feature-info-footer button {
    color: var(--thirdh-color);
}
  
.feature-info-footer:hover,
.feature-info-footer a:hover,
.feature-info-footer a button:hover,
.feature-info-footer button:hover,
.feature-info-footer img:hover {
    opacity: 0.85;
}

.feature-info-footer button {
    width: 11rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
    border: none;
    background: transparent;
    font-size: 1.125rem;
    cursor: pointer;
    font-weight: 700;
    margin-left: -3px;
}
