.jumbotron {
  width: 100%;
  height: 640px;
}

.gradient-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(10, 31, 31, 0.78) calc((40vw - 170px) - 100px),
    rgba(10, 31, 31, 0.74) 50%,
    rgba(10, 31, 31, 0.78) 100%
    );

}

.banner-details p {
  font-size: 1.1rem;
  color: white;
}

.banner-details h1 {
  font-size: 3rem;
  color: white;
}