.card .tight {
    flex-wrap: wrap;
  }
  
  .card {
    width: 100%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(227, 227, 227, 1);
    background-color: #fff;
    margin-bottom: 15px;
    height: 225px;
  }
  
  .card .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .card .image {
    flex: 0 0 auto;
    height: 100%
  }
  
  .card .poster img {
    border-radius: 8px 0 0 8px;
  }
  
  .card .details {
    flex: 1 1 auto;
    padding: 16px;
  }
  
  .card .title {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    align-items: baseline;
    overflow: hidden;
  }

  .card .title a {
    text-decoration: none; /* removes the underline from linking */
    color: #000;
  }
  
  .card h2 {
    margin: 0px;
  }
  
  .card .release_date {
    color: gray;
    font-size: 1.1em;
  }
  
  .card .overview {
    margin-top: 10px;
    overflow: hidden;
  }
  
  