/* Movie.css */
.background-header {
  position: relative;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid rgba(var(--lightGrey),1);
  border-style: none;
}

.background-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 30px;
}

.movie-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 95%;
  gap: 2rem;
  align-items: center;
  color: white;
  height: 100%; 
  padding: 0 4rem 0 4rem
}

.movie-poster {
  flex: 1;
  margin-right: 20px;
}

.poster-small {
  width: 100%;
  object-fit: cover;
}

.movie-details {
  flex: 2;
}

.movie-paper {
  height: 100%;
  padding: 40px;
  max-width: 100%;
  overflow: auto; 
  display: flex;
  align-items: center;
  gap: 2rem;
}

.movie-tagline {
  font-style: italic;
  opacity: 0.7;
}

.movie-description {
  margin-bottom: 3px;
}

.overview {
  margin-top: 20px;
  font-size: 1.5rem;
}

.movie-financials {
  margin-bottom: 15px;
}

.movie-ratings {
  margin-bottom: 15px;
}

.movie-title {
  font-weight: 600;
  font-size: 2.2rem;
  width: 100%;
}

.release-year {
  font-weight: 300;
  opacity: 0.8;
  margin-left: 0.5rem;
}

.error {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
  background-color: gray;
  padding: 0.5em 1em;
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 20px;
}

.movie-description span+span {     
  padding-left: 20px;     
  position: relative;    
  top: 0;     
  left: 0;
}

.movie-description span+span:before {
  content: "•";
  position: absolute;
  left: 7px;
  display: inline-flex;
  align-items: center;
  z-index: 1;
}

/*
.movie-rating-progress-circle {
  margin-bottom: 0.5rem;
}
*/

.progress-label {
  font-size: 0.7rem;

}
@media (min-width: 1280px) {
  .progress-label {
    font-size: 1.1rem;
  }
}