.error {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
  background-color: gray;
  padding: 0.5em 1em;
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 20px;
}

.card {
  height: 140px,
}

.details {
  padding: 10px,
}

.pagination {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pagination button {
  background-color: #032541; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 5px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2),
              0px 0px 6px rgba(255, 255, 255, 0.1),
              0px 0px 10px rgba(255, 255, 255, 0.05);
}

.pagination button:disabled {
  background-color: #cccccc;
  color: #ededed;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #05365e;
}

.page-indicator {
  color: white;
}

.fullHeightWrapper {
  min-height: 100vh;
  background: 
  linear-gradient(to right, 
      rgba(10.5, 31.5, 31.5, .98) calc((40vw - 170px) - 100px),
      rgba(10.5, 31.5, 31.5, 0.90) 50%,
      rgba(10.5, 31.5, 31.5, 0.98) 100%);
  padding-bottom: 1rem;
}