.p-container {
    width: 100%;
    height: 120vh;    
    position: relative;   
    display: grid;   
    place-items: center; 
}

/*
.center-header {
    font-weight: bold;
    color: white;
    font-size: 7rem; 
    position: relative; 
    z-index: 3;
    margin-top: -10%;
    @media (min-width: 768px) {
      font-size: 9rem;
    }
}
*/

.full-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.bottom-image {
    position: absolute;
    left: 0%;
    top: 50%;
    right: 0%;
    bottom: 0%;
    z-index: 3;
    pointer-events: none; /* Allows Get Started button to be clickable */
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.parallax-gradient-overlay {
    z-index: 2;
    height: 135vh;    

}
  

.banner-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -21rem;
    color: white;
    position: relative; 
    z-index: 3;
    padding: 1.5rem;
}
  
.banner-details h1 {
    /* Inherit color from parent */
    font-size: 2.5rem;
    color: inherit;
    
    @media (min-width: 768px) {
        font-size: 3.8rem;
    }
}
  
.banner-details p {
    /* Inherit color from parent */
    font-size: 0.8rem;
    text-align: center;
    color: inherit;

    @media (min-width: 768px) {
        font-size: 1.2rem;
    }
}
