.background-parallax {
  width: 100%;
  background-color: #06141D;
}

.text-details {
  max-width: 32rem;
  margin-top: 1rem; 
  margin-bottom: 1rem; 
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: white;
}