.custom-font {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.watchlist-item-grid-container {
    margin-top: 2%;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}

.watchlist-name {
    text-align: center;
}