.custom-font {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.watchlist-item-grid-container {
    margin-top: 2%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.watchlist-name {
    text-align: center;
}

.error {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    color: white;
    background-color: gray;
    padding: 0.5em 1em;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 20px;
}